<body class="center text">
  <div class="container-fluid">
    <h1 id="welcome-heading"><span class="orchid">&hearts;</span> PersonalityMatch</h1>
    <h3><%= link_to "Sign In", new_user_session_path %></h3>
    <h3><%= link_to "Sign Up", new_user_registration_path %></h3>
  </div>
</body>
